{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    // Newline placement
    "object-curly-newline": ["error", { "consistent": true }],
    "function-paren-newline": ["error", "consistent"],
    // Allowed operators
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-bitwise": 0,
    "yoda": 0,
    // React
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
  },
}

// vim: set ft=javascript:
