{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "object-curly-newline": ["error", { "consistent": true }],
    "no-bitwise": 0,
  },
}
